@import "sky";

@red: #9e1b34;
@blue: #6695af;
@orange: #c76a30;
@gold: #ccb366;
@green: #898963;
@black: #222222;
@gray-black: #494949;
@dark-blue: #2a3a53;
@electric-blue: lighten(saturate(@blue, 70%), 20%);
@pale-blue: #e0e8ea;
@blue-black: #232830;

body {
    section {
        display: block;
        width: 100%;
        position: relative;
        padding: 50px 90px;
        transition: opacity 0.5s;
        opacity: 1.0;

        @media (max-width: 320px) {
            padding: 25px 0px;
        }

        heading {
            display: block;
            margin-bottom: 40px;
            font-family: 'Roboto Slab', serif;
            font-size: 48px;
            text-align: center;
            font-weight: 400;

            @media (max-width: 320px) {
                font-size: 36px;
                width: 300px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        subheading {
            display: block;
            margin-top: -40px;
            margin-bottom: 40px;
            font-family: 'Roboto Slab', serif;
            font-size: 30px;
            text-align: center;
            font-weight: 300;

            @media (max-width: 475px) {
                font-size: 24px;
            }

            @media (max-width: 320px) {
                font-size: 18px;
                width: 300px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        &#splash {
            height: 100%;
            overflow: hidden;

            .info {
                position: absolute;
                top: 50%;
                left: 0px;
                right: 0px;
                z-index: 100;
                text-align: center;
                height: 325px;
                margin-top: -180px;
                opacity: 1;
                transition: opacity 1.5s, margin-top 1.5s;

                &.concealed {
                    margin-top: -160px;
                    opacity: 0;
                }

                .logo {
                    display: inline-block;
                    background-image: url(/static/img/owl.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    width: 325px;
                    height: 325px;
                    vertical-align: middle;

                    @media (max-width: 575px) {
                        width: 250px;
                        height: 250px;
                    }

                    @media (max-width: 320px) {
                        width: 200px;
                        height: 200px;
                    }
                }

                .text {
                    display: inline-block;
                    margin-left: 20px;
                    vertical-align: middle;

                    .mixin-intro-text {
                        display: block;
                        color: white;
                        font-family: 'Roboto Slab', serif;
                        text-align: center;
                        text-transform: uppercase;
                    }

                    h1 {
                        .mixin-intro-text;

                        font-size: 84px;
                        letter-spacing: 6px;
                        margin-top: 0px;
                        margin-bottom: 0px;
                        font-weight: 700;

                        @media (max-width: 575px) {
                            font-size: 64px;
                        }

                        @media (max-width: 475px) {
                            margin-top: 20px;
                            font-size: 50px;
                        }

                        @media (max-width: 320px) {
                            margin-top: 20px;
                            text-shadow: 0px 2px 0px #bbbbbb;
                            font-size: 39px;
                            letter-spacing: 4px;
                        }
                    }

                    h2 {
                        .mixin-intro-text;

                        font-size: 23px;
                        letter-spacing: 3.2px;
                        font-weight: 700;
                        margin-top: 0px;

                        @media (max-width: 575px) {
                            font-size: 20px;
                            letter-spacing: 2px;
                        }

                        @media (max-width: 475px) {
                            font-size: 17px;
                            letter-spacing: 1px;
                        }

                        @media (max-width: 320px) {
                            font-size: 14px;
                            letter-spacing: 0px;
                        }
                    }

                    h3 {
                        .mixin-intro-text;

                        font-size: 47px;
                        font-weight: 100;
                        margin-top: 15px;
                        margin-left: -5px;

                        @media (max-width: 575px) {
                            font-size: 32px;
                        }

                        @media (max-width: 475px) {
                            font-size: 24px;
                        }

                        @media (max-width: 320px) {
                            font-size: 22px;
                            letter-spacing: 0px;
                        }
                    }
                }
            }

            .learn-more {
                position: absolute;
                bottom: 0px;
                left: 50%;
                color: white;
                opacity: 0.7;
                z-index: 200;
                text-align: center;
                margin-left: -100px;
                cursor: pointer;
                bottom: 0px;
                opacity: 1;
                transition: opacity 1.5s, bottom 1.5s;

                &.concealed {
                    bottom: -20px;
                    opacity: 0;
                }

                span {
                    display: block;

                    &.text {
                        text-transform: uppercase;
                        font-weight: 100;
                        font-family: 'Roboto Slab', serif;
                        letter-spacing: 2px;
                        font-size: 18px;
                        padding-bottom: 5px;
                        padding-top: 30px;
                        padding-left: 30px;
                        padding-right: 30px;
                    }

                    &.glyphicon {
                        font-size: 18px;
                        padding-bottom: 30px;
                    }
                }
            }
        }

        &#about {
            background: lighten(#020d1a, 5%) url(/static/img/about-bg.png);
            background-size: cover;
            text-align: center;
            padding: 100px;
            padding-top: 70px;
            padding-bottom: 90px;

            .slogan {
                font-size: 64px;
                font-family: 'Roboto Slab', serif;
                text-transform: uppercase;
                color: white;
                line-height: 70px;
                margin-bottom: 20px;
                font-weight: 700;
                letter-spacing: 2px;
                text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
            }

            .description {
                font-size: 26px;
                font-family: 'Roboto Slab', serif;
                color: white;
                font-weight: 300;
                margin-bottom: 30px;
                line-height: 40px;
                text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);

                a, a:visited, bold {
                    font-weight: 300;
                    color: white;
                }
            }

            .map {
                position: relative;
                width: 100%;
                height: 400px;
                background: #cccccc;
                border-radius: 8px;
                overflow: hidden;

                .background {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;

                    #google-map {
                        width: 100%;
                        height: 100%;
                        border-radius: 8px;
                    }
                }

                .overlay {
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    background: white;
                    border-top-right-radius: 8px;
                    border-bottom-left-radius: 8px;
                    padding: 15px 25px;
                    color: #666666;
                    font-family: 'Roboto Slab', serif;
                    font-weight: 300;
                    font-size: 16px;
                    text-align: left;
                    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);

                    a {
                        text-decoration: none;
                    }

                    .building {
                        font-weight: 400;
                    }
                }
            }
        }

        &#faq {
            background-color: desaturate(lighten(#11344e, 10%), 10%);

            heading, subheading {
                color: lighten(#9EBCE3, 20%);

                italics {
                    font-style: italic;
                }
            }

            .faq-container {
                overflow: hidden;
            }

            .qa {
                margin-bottom: 30px;
                background: white;
                border-radius: 4px;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
                padding: 25px;

                .question {
                    display: block;
                    font-family: 'Roboto Slab', serif;
                    font-size: 22px;
                    text-align: left;
                    font-weight: 400;
                    color: desaturate(lighten(#11344e, 10%), 10%);
                    margin-bottom: 10px;

                    @media (max-width: 450px) {
                        text-align: center;
                        font-size: 26px;
                    }

                    @media (max-width: 320px) {
                        font-size: 22px;
                    }
                }

                .answer {
                    display: block;
                    font-family: 'Roboto Slab', serif;
                    font-size: 18px;
                    text-align: left;
                    font-weight: 300;
                    color: #666666;

                    @media (max-width: 450px) {
                        text-align: center;
                    }

                    @media (max-width: 320px) {
                        font-size: 18px;
                    }

                    a {
                        color: @electric-blue;
                        text-decoration: none;
                        font-weight: 400;
                        transition: color 0.5s;

                        &:hover {
                            text-decoration: none;
                            color: lighten(@electric-blue, 10%);
                        }
                    }

                    bold {
                        font-weight: 400;
                        letter-spacing: 1px;
                        color: desaturate(lighten(#11344e, 10%), 10%);
                    }

                    email {
                        background: @electric-blue;
                        padding: 6px 14px;
                        border-radius: 4px;
                        font-size: 18px;

                        a {
                            display: inline-block;
                            color: white;
                            text-decoration: none;
                            border-bottom: none;
                            margin-top: 10px;
                        }
                    }

                    a.btn {
                        display: block;
                        width: 95%;
                        color: @red;
                        background: white;
                        font-family: 'Roboto Slab', serif;
                        font-size: 18px;
                        font-weight: 400;
                        margin-top: 20px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        transition: background-color 0.5s, color 0.5s, border-color 0.5s;
                        outline: 0 none;
                        border-color: white;

                        @media (max-width: 320px) {
                            font-size: 14px;
                            margin-left: auto;
                            margin-right: auto;
                        }

                        &:hover {
                            background: darken(@red, 20%);
                            border-color: darken(@red, 20%);
                            color: white;
                        }
                    }
                }
            }
        }

        &#register {
            background-color: @orange;
            background-image: url(/static/img/conwell.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            heading, subheading {
                color: white;
            }

            form {
                text-align: center;

                button.btn-register {
                    display: block;
                    width: 500px;
                    margin: 0 auto;

                    color: white;
                    background-color: transparent;
                    border: 2px solid white;
                    font-family: 'Roboto Slab', serif;
                    font-size: 22px;
                    font-weight: 400;
                    margin-top: 20px;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    padding: 10px;
                    outline: 0 none;
                    box-shadow: none;
                    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;

                    @media (max-width: 550px) {
                        width: 100%;
                    }

                    @media (max-width: 320px) {
                        font-size: 18px;
                    }

                    &:hover {
                        border: none;
                        padding: 12px;
                        color: @orange;
                        background-color: white;
                        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
                    }

                    &:active {
                        border: none;
                        padding: 12px;
                        color: @orange;
                        background-color: white;
                        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5) inset;
                    }
                }

                input.form-input {
                    display: block;
                    width: 500px;
                    margin: 0 auto;
                    text-align: center;
                    color: #444;
                    background-color: white;
                    font-family: 'Roboto Slab', serif;
                    font-size: 22px;
                    font-weight: 300;
                    margin-bottom: 20px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    outline: 0 none;
                    border: none;
                    border-radius: 4px;

                    @media (max-width: 550px) {
                        width: 100%;
                    }

                    @media (max-width: 320px) {
                        font-size: 18px;
                    }
                }
            }
        }

        &#sponsors {
            background: white;

            a.btn-sponsor {
                display: block;
                color: white;
                width: 500px;
                background-color: @dark-blue;
                margin: 15px auto;
                font-family: 'Roboto Slab', serif;
                font-size: 22px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 3px;
                padding: 15px 0px;
                outline: 0 none;
                border-width: 0px;
                transition: background-color 0.5s;

                @media (max-width: 550px) {
                    width: 100%;
                }

                @media (max-width: 320px) {
                    font-size: 18px;
                }

                &:hover {
                    color: white;
                    background-color: lighten(@dark-blue, 20%);
                }

                &:active {
                    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5) inset;
                }
                .glyphicon {
                    font-size: 22px;
                    padding: 0px 4px;
                    color: @red;
                    position: relative;
                    top: 5px;

                    @media (max-width: 320px) {
                        font-size: 18px;
                        top: 4px;
                        padding: 0px 2px;
                        padding-right: 3px;
                    }
                }
            }
            #sponsor-list{
                margin-bottom: 40px;
                .sponsor-group{
                    text-align: center;
                    .sponsor{
                        margin-bottom: 0px;
                        text-align: center;
                        display: inline-block;
                    }
                    .sponsor-5{
                        width:200px;
                        img{
                            width:150px;
                        }
                    }
                    .sponsor-6{
                        width:180px;
                        img{
                            width:130px;
                        }
                    }
                }
            }
        }
    }

    footer {
        background-color: @blue-black;
        color: darken(white, 10%);
        font-family: 'Roboto Slab', serif;
        font-size: 16px;
        text-align: center;
        font-weight: 300;
        padding-top: 10px;
        padding-bottom: 15px;

        @media (max-width: 320px) {
            font-size: 14px;
        }

        .glyphicon {
            font-size: 22px;
            padding: 0px 4px;
            color: @red;
            position: relative;
            top: 5px;

            @media (max-width: 320px) {
                font-size: 18px;
                top: 4px;
                padding: 0px 2px;
                padding-right: 3px;
            }
        }

        #tudev-icon {
            background-image: url(/static/img/icon-tudev.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            padding: 0px 14px;
            width: 18px;
            height: 20px;
            display: inline-block;
            position: relative;
            opacity: 0.9;
            top: 4px;

            @media (max-width: 320px) {
                padding: 0px 14px;
                width: 16px;
                height: 18px;
            }
        }
    }
}
