@red: #9e1b34;
@blue: #6695af;
@orange: #c76a30;
@gold: #ccb366;
@green: #898963;
@black: #222222;
@gray-black: #494949;
@dark-blue: #2a3a53;
@electric-blue: lighten(saturate(@blue, 70%), 20%);
@pale-blue: #e0e8ea;
@blue-black: #232830;

body {
    background-color: @dark-blue;

    &.loading section {
        opacity: 0.0;
    }

    section {
        display: block;
        width: 100%;
        position: relative;
        padding: 50px 0px;
        transition: opacity 0.5s;
        opacity: 1.0;

        heading {
            display: block;
            margin-bottom: 40px;
            font-family: 'Roboto Slab', serif;
            font-size: 48px;
            text-align: center;
            font-weight: 400;
        }

        subheading {
            display: block;
            margin-top: -40px;
            margin-bottom: 40px;
            font-family: 'Roboto Slab', serif;
            font-size: 30px;
            text-align: center;
            font-weight: 300;
        }

        &#splash {
            height: 100%;
            background-color: @dark-blue;
            background-image: url(../img/bg.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: table;
            padding: 0px;

            info {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                padding-top: 50px;
                padding-bottom: 50px;

                owl {
                    display: block;
                    background-image: url(../img/owl.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    width: 250px;
                    height: 250px;
                    margin: 0 auto;
                }

                h1 {
                    color: white;
                    font-family: 'Roboto Slab', serif;
                    font-size: 64px;
                    text-align: center;
                    letter-spacing: 2px;
                    margin-top: 10px;
                    font-weight: 400;
                }

                h2 {
                    color: white;
                    font-family: 'Roboto Slab', serif;
                    font-size: 28px;
                    text-align: center;
                    letter-spacing: 2px;
                    font-weight: 300;
                    width: auto;
                    margin-bottom: 5px;
                }

                h3 {
                    color: lighten(@blue, 20%);
                    font-family: 'Roboto Slab', serif;
                    font-size: 28px;
                    text-align: center;
                    letter-spacing: 2px;
                    font-weight: 300;
                    width: auto;
                    margin-top: 5px;
                }

                a.btn-register {
                    color: white;
                    background-color: @red;
                    font-family: 'Roboto Slab', serif;
                    font-size: 22px;
                    font-weight: 400;
                    margin-top: 20px;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    padding: 10px 0px;
                    width: 300px;
                    outline: 0 none;
                    border-width: 0px;
                    transition: background-color 0.5s, color 0.5s;

                    &:hover {
                        color: white;
                        background-color: lighten(@red, 10%);
                    }

                    &:active {
                        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5) inset;
                    }
                }
            }
        }

        &#about {
            background-color: @pale-blue;
            background-image: url(../img/hackny.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            text-align: center;

            heading {
                color: @dark-blue;
            }

            .cutoff {
                display: -webkit-flex;
                display: flex;

                &.shimmed {
                    display: block;

                    .dash {
                        display: none;
                    }

                    h2 {
                        margin: 0 auto;
                    }
                }

                .dash {
                    -webkit-flex: 1;
                    flex: 1;
                    display: block;
                    margin-top: 20px;
                    height: 7px;
                    border-top: 2px solid @dark-blue;
                    border-bottom: 2px solid @dark-blue;
                }

                h2 {
                    -webkit-flex-basis: auto;
                    -webkit-flex-shrink: 0;
                    -webkit-flex-grow: 0;
                    flex-basis: auto;
                    flex-shrink: 0;
                    flex-grow: 0;

                    margin: 0px 30px;
                    color: @dark-blue;
                    font-family: 'Roboto Slab', sans-serif;
                    font-size: 36px;
                    text-align: center;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }

            #topic-container {
                display: table;
                margin: 0 auto;
                margin-bottom: 30px;

                .topic {
                    margin-bottom: 50px;
                    display: table-cell;
                    vertical-align: middle;

                    #topic-build,
                    #topic-learn,
                    #topic-collaborate {
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 150px;
                        height: 150px;
                        margin: 0 auto;

                        &.large {
                            width: 200px;
                            height: 200px;
                        }
                    }

                    #topic-build {
                        background-image: url(../img/about-build.png);
                    }

                    #topic-learn {
                        background-image: url(../img/about-learn.png);
                    }

                    #topic-collaborate {
                        background-image: url(../img/about-collaborate.png);
                    }

                }
            }

            .blurb {
                width: 100%;
                margin-top: 50px;
                margin-bottom: 25px;
                font-family: 'Roboto Slab', serif;
                font-size: 28px;
                text-align: center;
                letter-spacing: 2px;
                font-weight: 300;
                padding: 0px 80px;
                color: @dark-blue;

                a, a:visited {
                    color: @dark-blue;
                    // text-decoration: underline;
                    border-bottom: 2px solid @dark-blue;

                    &:hover {
                        text-decoration: none;
                    }
                }

                bold {
                    font-weight: 400;
                }

                italics {
                    font-style: italic;
                }
            }
        }

        &#faq {
            background-color: @red;
            background-image: url(../img/paleylibrary.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            heading, subheading {
                color: white;
            }

            .qa {
                margin-bottom: 30px;

                question {
                    display: block;
                    font-family: 'Roboto Slab', serif;
                    font-size: 24px;
                    text-align: left;
                    font-weight: 700;
                    letter-spacing: 1px;
                    color: white;
                    margin-bottom: 5px;
                }

                answer {
                    display: block;
                    font-family: 'Roboto Slab', serif;
                    font-size: 24px;
                    text-align: left;
                    font-weight: 300;
                    color: white;

                    a {
                        color: @electric-blue;
                        border-bottom: 2px solid @electric-blue;
                        text-decoration: none;
                        margin: 0px 3px;
                        font-weight: 400;
                        transition: color 0.5s, border-color 0.5s;

                        &:hover {
                            text-decoration: none;
                            border-color: lighten(@electric-blue, 10%);
                            color: lighten(@electric-blue, 10%);
                        }
                    }

                    bold {
                        font-weight: 400;

                        &:first-child {
                            font-weight: 700;
                            margin-right: 4px;
                        }
                    }

                    email {
                        background: darken(@red, 20%);
                        padding: 6px 14px;
                        border-radius: 4px;
                        font-size: 20px;

                        a {
                            display: inline-block;
                            color: white;
                            text-decoration: none;
                            border-bottom: none;
                            margin-top: 10px;
                        }
                    }

                    button {
                        display: block;
                        width: 95%;
                        color: @red;
                        background: white;
                        font-family: 'Roboto Slab', serif;
                        font-size: 22px;
                        font-weight: 400;
                        margin-top: 20px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        transition: background-color 0.5s, color 0.5s, border-color 0.5s;
                        outline: 0 none;
                        border-color: white;

                        &:hover {
                            background: darken(@red, 20%);
                            border-color: darken(@red, 20%);
                            color: white;
                        }
                    }
                }
            }
        }

        &#register {
            background-color: @orange;
            background-image: url(../img/conwell.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            heading, subheading {
                color: white;
            }

			form {
                text-align: center;

				button.btn-register {
                    display: block;
                    width: 500px;
                    margin: 0 auto;

                    color: white;
                    background-color: transparent;
                    border: 2px solid white;
                    font-family: 'Roboto Slab', serif;
                    font-size: 22px;
                    font-weight: 400;
                    margin-top: 20px;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    padding: 10px;
                    outline: 0 none;
                    box-shadow: none;
                    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;

                    &:hover {
                        border: none;
                        padding: 12px;
                        color: @orange;
                        background-color: white;
                        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
                    }

                    &:active {
                        border: none;
                        padding: 12px;
                        color: @orange;
                        background-color: white;
                        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5) inset;
                    }
                }

                input.form-input {
                    display: block;
                    width: 500px;
                    margin: 0 auto;
                    text-align: center;
                    color: #444;
                    background-color: white;
                    font-family: 'Roboto Slab', serif;
                    font-size: 22px;
                    font-weight: 300;
                    margin-bottom: 20px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    outline: 0 none;
                    border: none;
                    border-radius: 4px;
                }
			}
        }

        &#sponsors {
            background: white;

            a.btn-sponsor {
                display: block;
                color: white;
                width: 500px;
                background-color: @dark-blue;
                margin: 0 auto;
                font-family: 'Roboto Slab', serif;
                font-size: 22px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 3px;
                padding: 15px 0px;
                outline: 0 none;
                border-width: 0px;
                transition: background-color 0.5s;

                &:hover {
                    color: white;
                    background-color: lighten(@dark-blue, 20%);
                }

                &:active {
                    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5) inset;
                }
            }
        }
    }

    footer {
        background-color: @blue-black;
        color: darken(white, 10%);
        font-family: 'Roboto Slab', serif;
        font-size: 16px;
        text-align: center;
        font-weight: 300;
        padding-top: 10px;
        padding-bottom: 15px;

        .glyphicon {
            font-size: 22px;
            padding: 0px 4px;
            color: @red;
            position: relative;
            top: 5px;
        }

        #tudev-icon {
            background-image: url(../img/icon-tudev.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            padding: 0px 14px;
            width: 18px;
            height: 20px;
            display: inline-block;
            position: relative;
            opacity: 0.9;
            top: 4px;
        }
    }
}